
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #f1f1f1;
}

.navbar-inverse {
  background: #0a9faf;
  border-color:#0a9faf;
}


.navbar-inverse .navbar-nav li {
    color: black;
}

.navbar-inverse .navbar-nav li a.active {
    background-color: #0b98a8;
    color: white;
}

.navbar-inverse .navbar-nav li a.active:hover {
  background: #27ddf1;
  color: white;
}

.navbar-inverse .navbar-nav li a:hover:not(.active) {
    background-color: #27ddf1;
    color: white;
}

.header {
  padding: 60px;
  background-color: #f1f1f1;
  background-image: url("images/logo_meitu_1.png");
  background-size: 40% 80%;
  background-repeat: no-repeat;
  background-position: 40% 80%;
}

#logo {
  color: #0a9faf;
}

.logo-link {
padding: 10px 5px;
}

#subnavbar {
  width: 180px;
  list-style-type: none;
}

#subnavbar li{
    border-color: black;
    background-color: #f1f1f1;
}

#subnavbar li a {
    display: block;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
}

#subnavbar li a.active {
    background-color: #0a9faf;
    color: white;
}

#subnavbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.shoppingList {
  float: right;
  padding-bottom: 10px;
}

#listButton, #adminPanel{
  background-color: #0a9faf;
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

#adminPaneldiv {
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 10;
}


.productTable {
  width: 100%;
  list-style:none;
  overflow:auto;
}


.productTable li {
  margin: 20px;
  width:150px;
  height:150px;
  float:left;
  /* border:1px solid #CCC*/

}

.contentright {
  display: inline-block;
}


td, th {
    text-align: left;
    padding: 5px;
}

#numofProd {
    width: 40px;
}
